*{
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
    color:#fff;
}
a:hover{
    color:red;
}
ul li{
    list-style-type:none;
}
body{
    font-size:13px;
    color:#fff;
    font-family:Î¢ÈíÑÅºÚ;
}
header{
    background:rgba(0,0,0,0.4);
}
#nav_wrapper{
    height:50px;
    width:100%;
    position:fixed;
    background:rgba(0,0,0,0.5);
    text-align:center;
}
h1{
    float:left;
    line-height:50px;
    margin-left:20px;
}
#nav_wrapper ul {
    float:right;

}
#nav_wrapper ul li{
    display:inline-block;
    padding:10px;
    height:50px;
    float:right;
}
#center_wrapper{
    height:400px;
    /*background:#aaa;*/
    padding-top:100px;
    text-align:center;
}
#center_wrapper h2{
    width:80px;
    margin:80px auto 0;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    padding:10px;
}
#center_wrapper p{
    margin:20px auto;
    width:300px;
}
#center_wrapper button{
    border:none;
    width:100px;
    height:30px;
    background:red;
    color:#fff;
    cursor:pointer;
}
#center_wrapper span{
    display:block;
    margin:100px auto;
    font-size:15px;
}
#banner_wrapper{
    text-align: center;
}
#banner{
    height:250px;
    background:#2fc2A6;
    padding:10px;
}
#banner_wrapper h3{
    margin:0 auto;
}
#banner div{
    width:200px;
    height:2px;
    background:rgba(0,0,0,0.05);
    margin:5px auto;
}
#banner p{
    margin:10px;
}
#banner ul li{
    display:inline-block;
    width:50px;
    height:50px;
    margin:50px 20px;
    border:1px solid #aaa;
    transform:rotateZ(45deg);
}
#banner_wrapper img{
    width:500px;
    height:300px;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.content{
    /*padding:50px 0 0 0;*/
    height:300px;
    background:#262A35;
    text-align:left;
}
.content:nth-child(even){
    background:rgba(38,42,53,0.98)
}
.content div{
    margin:50px auto;
}
.content h4{
    margin:10px 30px;
    width:690px;
}
.content p{
    width:500px;
    margin:20px 30px;
}
#banner_bottom{
    padding-top:30px;
    height:880px;
    background:#534E93;
}
#banner_bottom p{
    color:rgba(255,255,255,0.5);
}
#by{
    margin:30px auto 0;
    height:100px;
}
#by p{
    width:500px;
    margin:30px auto;
}
#c{
    width:724px;
    height:660px;
    margin:0 auto;
}
.bottom{
    width:300px;
    height:170px;
    padding:30px;
    text-align:left;
}
.bottom h3{
    padding-bottom:20px;
}
.bottom p{
    width:300px;
    text-align:left;
    line-height:25px;
}
.bottom:first-child{
    background:rgba(0,0,0,0.04);
}
.bottom:nth-child(2){
    background:rgba(0,0,0,0.08);
}
.bottom:nth-child(3){
    background:rgba(0,0,0,0.12);
}
.bottom:nth-child(4){
    background:rgba(0,0,0,0.16);
}
.bottom:nth-child(5){
    background:rgba(0,0,0,0.2);
}
.bottom:nth-child(6){
    background:rgba(0,0,0,0.24);
}
footer{
    height:130px;
    padding-top:40px;
    background:rgb(40,42,49);
    text-align:center;
    color:rgba(255,255,255,0.4);
}
footer ul{
    margin:30px auto;
}
footer ul li{
    display:inline-block;
    width: 10px;
    height:10px;
    padding:10px;
}
#bg{
    background:url("../image/banner.jpg") no-repeat fixed center center;
    background-size:cover;
}